* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    font-family: sans-serif;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

p {
    padding-bottom: 10px 0;
}

#navbar {
    background: #333;
    color: white;
    /* overflow: auto; */
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}


#navbar a {
    color: white;
    padding: 20px;
}

#navbar .logo {
    padding-left: 80px;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

#navbar ul li a:hover {
    background-color: #444;
    color: #f7c08a;
}

#navbar ul li a.home {
    background-color: #444;
    color: #f7c08a;
}

#contain {
    background-image: url(../IMAGE/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

#contain .container {
    color: white;
    text-align: center;
    padding-top: 180px;
}

#contain .container h1 {
    font-size: 70px;
    line-height: 1.3em;
    padding-bottom: 20px;
}

.text {
    color: #f7c08a;
}

#contain .container p {
    padding-bottom: 20px;
    line-height: 1.6em;
    font-size: 25px;
    color: white;
}

.first {
    font-size: 20px;
}

.btn {
    display: inline-block;
    color: white;
    padding: 14px 21px;
    background-color: #333;
    font-size: 19px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #f7c08a;
    color: #333;
}

.btn-light {
    background-color: whitesmoke;
    color: #333;
}

#home-info {
    /* height: 400px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#home-info .info-img {
    /* float: left; */
    /* width: 50%; */
    background-image: url('../IMAGE/photo-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: left; */
    /* min-height: 100%; */
}

#home-info .content {
    /* float: right; */
    /* width: 50%; */
    /* height: 100%; */
    overflow: hidden;
    padding: 50px 30px;
    text-align: center;
}

.content h2 {
    font-size: 40px;
}

.content p {
    line-height: 1.7em;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.bg-dark {
    background-color: #333;
    color: white;
}

.box p {
    text-align: center;
}

.box:nth-child(2) {
    background-color: #f7c08a;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #444;
}

#features {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
}

#features h3 {
    font-size: 20px;
}

#features p {
    font-size: 17px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foot {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: larger;
    height: 80px;
    color: white;
}

/* #about-info .touch {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-info .info-right {
    float: right;
    width: 70%;
    min-height: 100%;
}


#about-info .info-right img {
    width: 50%;
    min-height: 50%;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 20px 0;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
    line-height: 1.5em;
    padding-left: 100px;
} 

#about-info .info-left h1, p {
    padding-left: 10px;
    line-height: 1.5em;
} 

.info-left h1 {
    font-size: 40px;
}

.info-left p {
    margin-top: 10px;
    color: #444;
    font-size: 20px;
}*/

.touch {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.info-right {
    height: 600px;
    width: 600px;
    padding: 50px;
}

.info-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    padding: 50px;
}

.info-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#text-info {
    height: 700px;
    background-image: url(../IMAGE/test-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
}

#text-info h2 {
    font-size: 40px;
}

#text-info p {
    font-size: 20px;
}

.guest {
    color: white;
    font-size: 40px;
}

#text-info .review img {
    background-color: #f7c08a;
    width: 90px;
    border-radius: 50px;
}

.tou {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#text-info .review {
    background-color: #f3c89c;
    height: 150px;
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 10px;
}

.review p {
    color: #444;
}

#contact-form .form {
    margin-bottom: 20px;
    padding-left: 60px;
    line-height: 1.5em;
    margin-top: 20px;
}

#contact-form .form h2 {
    margin-top: 20px;
    font-size: 40px;
    padding-left: 55px;
}

#contact-form .form p {
    margin-top: 20px;
    /* padding-left: 60px; */
}

#contact-form label {
    display: flex;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
}

#contact-form textarea {
    height: 150px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #f3c89c;
}

.end {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 90px;
    color: whitesmoke;
}

.icon h3 {
    line-height: 1.7em;
    display: flex;
    flex-direction: column;
    color: white;
}

.icon p {
    padding-right: 20px;
    color: white;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    line-height: 1.5em;
}

#services h2 {
    margin-top: 20px;
    text-align: center;
    color: #444;
    font-size: 40px;
}

#services h4 {
    text-align: center;
    color: #444;
    margin-top: 20px;
    font-size: 20px;
}

.service-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #444;
}

.service-container .service img {
    width: 500px;
}

.service-container .service h3 {
    margin-top: 20px;
    font-size: 30px;
}

.service-container .service p {
    font-size: 20px;
}

#homes {
    margin-bottom: 30px;
}

#homes h2,
h3,
p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #444;
}

#homes h2 {
    font-size: 45px;
}

#homes h3 {
    font-size: 30px;
}

#homes p {
    font-size: 20px;
}

.room-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.room-container img {
    margin-top: 10px;
}

.room-container .rooms,
h4 {
    font-size: 20px;
    color: #444;
}

.room-container .rooms,
p {
    text-align: center;
    justify-content: center;
    align-items: center;
}



@media (max-width: 600px) {
    #navbar {
        justify-content: center;
        flex-direction: column;
        height: auto;
        gap: 20px;

    }

    #navbar ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    #navbar a {
        padding: 5px 10px;
    }

    #navbar .logo {
        padding-left: 0px;
        /* margin-bottom: 20px; */
    }

    #contain {
        /* overflow: auto; */
        height: auto;
    }

    #home-info {
        /* height: auto; */
        /* background-color: red; */
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 550px;
    }

    #features {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 300px;
    }

    .box {
        padding: 20px 0px;
        position: relative;
    }

    .box i {
        position: absolute;
        top: 10px;
    }

    .box h3,
    .box p {
        position: relative;
        top: 25px;
    }

    #about-info .touch {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    .info-left, .info-right {
        width: 100%;
        text-align: center;
    }

    .info-right img {
        width: 90vw;
        max-width: 350px;
        height: auto;
        margin: 0 auto;
        display: block;
    }


    #text-info .tou {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 10px;
        height: fit-content;
    }

    #text-info .review {
        flex-direction: column;
        width: 95vw;
        max-width: 350px;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    #text-info .review img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    .guest {
        font-size: 28px;
    }

    .room-container-1,
    .room-container-2,
    .room-container-3,
    .room-container-4,
    .room-container-5,
    .room-container-6 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .room-container-1 > div,
    .room-container-2 > div,
    .room-container-3 > div,
    .room-container-4 > div,
    .room-container-5 > div,
    .room-container-6 > div {
        width: 95vw;
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
    }

    .room-container-1 img,
    .room-container-2 img,
    .room-container-3 img,
    .room-container-4 img,
    .room-container-5 img,
    .room-container-6 img {
        width: 90vw !important;
        max-width: 340px;
        height: auto !important;
    }

    #homes h2,
    #homes h3,
    #homes p {
        text-align: center;
        padding: 0 10px;
    }


    #contact-form .form {
        width: 95vw;
        padding: 10px;
        margin: 0 auto;
    }

    #contact-form input,
    #contact-form textarea {
        width: 90vw;
        max-width: 350px;
        font-size: 16px;
    }

    .end {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    .icon {
        width: 95vw;
        max-width: 350px;
        margin-bottom: 20px;
        text-align: center;
    }

    .icon i {
        margin-bottom: 10px;
    }

}